* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  text-rendering: optimizeLegibility;
}

a {
  color: rgb(108, 108, 128);
  font-weight: bold;
  text-decoration: none;
}

ul li, ol li {
  line-height: 28px;
}